:root { 
    /* ## Colors */

 /* ### Primary */

--Dark-cyan: hsl(158, 36%, 37%);
--Cream:hsl(30, 38%, 92%);

/* ### Neutral */

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayishblue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);

/* FONT */
--MONSERRAL : 'Montserrat', sans-serif;
--Fraunces: 'Fraunces', serif;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html{

}

.main-container{
    background-color: var(--Cream);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-card{
    background-color: var(--White);
    width: 355px;
    height: 450px;
    border-radius: 0 20px 20px 0;
    align-items: center;
}

.main-img{
    width: 350px;
    height: 450px;
    align-items: center;
    border-radius: 20px 0 0 20px;    
}

.card-header{
    color: var(--Very-dark-blue);  
    padding: 5px 0 5px 5px;
    margin: 5px 0 5px 5px;
    font-weight: bold;
    font-size: 40px;
    font-family: var(--Fraunces);

}

.sub-header{
    color: var(--Dark-grayishblue);
    text-align: left;
    padding: 5px 0 5px 5px;
    margin: 5px 0 5px 5px;
    line-break: 10px;
    font-size: 20px;
    letter-spacing:5px;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: var(--MONSERRAL);

}

.card-paragra{
    color: var(--Dark-grayishblue);
    line-height: 30px;
    margin: auto;
    font-size: 18px;
    padding: 5px;
    font-family: var(--MONSERRAL);
}

.card-total{
    display: inline;
}

.price{
    color: var(--Dark-cyan);
    font-size: 30px;
    font-weight: bold;
    font-family: var(--Fraunces)
}

.discount-tag {
    color: var(--Dark-grayishblue);
    font-size: small;
    align-items: center;
}

.card-add-to-cart{
    text-decoration: none;
    background: none;
    background-color: var(--Dark-cyan);
    width: 75%;
    height: 10%;
    color: var(--White);
    margin: 20px;
    border-radius: 8px;
    transition: 250ms ease;
}

.card-add-to-cart:hover{
    transform:translate(-1px,-1px);
}

.card-add-to-cart:active{
    transform:translate(1px,1px);
}
/*footer*/
.attribution { 
    font-size: 11px; 
    text-align: center;
    position: static; 
    background-color: var(--Cream);
    width: auto;
    height: auto;
 }
    .attribution a { color: hsl(228, 45%, 44%); }